html, body {
    font-family: 'Kalam', cursive;
    text-align: center;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-rows: .5fr 2fr;
    grid-gap: 50px;
}

header {
    background-color: lightseagreen;
    height: 125px;
    margin-top: 30px;
}

main {
    background-color: darkseagreen;
    height: 100%;
}

h1 {
    margin: 15px;
}

img {
    height: 100px;
    width: 200px;
    border-radius: 25px;
}

p {
    font-size: 2em;
    margin: 20px;
}

button {
    height: 30px;
    width: 100px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.playerinfo {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

#clickbox {
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img:hover {
    height: 90px;
    width: 190px;
    border: 5px solid aqua;
    box-shadow: 5px 10px;
}