html, body {
    font-family: 'Kalam', cursive;
    text-align: center;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 50px;
}

header {
    background-color: lightseagreen;
    margin-top: 30px;
}

main {
    background-color: darkseagreen;
    height: 100%;
    position: relative;
    padding: 15px;
    text-align: center;
}

img {
    height: 100px;
    width: 200px;
    border-radius: 25px;
    border: 3px solid aquamarine;
    box-shadow: 0 10px #999;
}

p {
    font-size: 2em;
    margin: 20px;
}

video {
    width: 150px;
    display: inline-block;
    border: 1px solid black;
}

.title {
    display: inline-block;
    margin: 25px;
    font-size: 2.5em;
    background-color: white;
    border: 2px solid aqua;
    border-radius: 25px;
    width: 250px;
    padding: 20px;
}

.button {
    display: inline-block;
    width: 100px;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid aqua;
    border-radius: 25px;
    box-shadow: 0 6px #999;
    margin: 20px;
    padding: 5px;
}

.disco {
    display: inline-block;
    width: 100px;
    background-color: white;
    font-weight: bold;
    font-size: 1em;
    border: 2px solid aqua;
    border-radius: 25px;
    margin: 20px;
    padding: 5px;
}

.small {
    height: 50px;
    width: 100px;
}

.hidden {
    display: none;
}

.playerinfo {
    position: relative;
    align-items: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.instructions {
    margin: 0;
    display: inline-block;
    font-size: 1.25em;
    width: 500px;
    height: 200px;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 99px;
}  

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 25px;
}

input:checked + .slider {
    background-color: aqua;
}

input:focus + .slider {
    box-shadow: 0 0 1px aqua;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#clickbox {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#instructions {
    position: absolute;
    left: 95px;
    top: 15px;
    background-color: white;
    border: 2px solid aquamarine;
    z-index: 1;
    height: 90%;
    width: 1000px;
    border-radius: 25px;
    font-size: 1em;
    padding: 20px;
}

#Do {
    border:2px solid yellow;
}

img:active {
    box-shadow: 0 5px #777;
    transform: translateY(5px);
}

.button:active {
    box-shadow: 0 3px #777;
    transform: translateY(3px);
}